@media only screen and (max-width:600px){
  .floating-elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.float-item {
    position: absolute;
    border-radius: 50%;
    animation: floatComplex 25s ease-in-out infinite;
}

.float-1 {
    width: 120px;
    height: 120px;
    top: 15%;
    left: 8%;
    animation-delay: 0s;
    box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
}

.float-2 {
    width: 80px;
    height: 80px;
    top: 65%;
    right: 12%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 8s;
}

.float-3 {
    width: 100px;
    height: 100px;
    top: 85%;
    left: 25%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 16s;
}

.float-4 {
    width: 150px;
    height: 150px;
    top: 35%;
    right: 15%;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
       animation-delay: 4s;
       box-shadow: 0  0 10px #7cf03d;
}

@keyframes floatComplex {
    0%, 100% { 
        transform: translateY(0px) translateX(0px) rotate(0deg) scale(1);
        opacity: 0.6;
    }
    25% { 
        transform: translateY(-30px) translateX(20px) rotate(90deg) scale(1.1);
        opacity: 0.8;
    }
    50% { 
        transform: translateY(-15px) translateX(-25px) rotate(180deg) scale(0.9);
        opacity: 0.4;
    }
    75% { 
        transform: translateY(-40px) translateX(30px) rotate(270deg) scale(1.2);
        opacity: 0.7;
    }
}

/* Global Styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  margin-top: 0px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 50px;
 
}

.main-title {
  font-size: 2.1rem;
  font-weight: bold;
  color: #7cf03d;
  text-shadow: 0 0 10px #7cf03d;
}

.subtitle {
  font-size: 1rem;
  color: #ccc;
  margin-top: 10px;
}

/* Skills Grid */
.skills-grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
}

.skill-category {
  background: transparent;
  width: 70%;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid #7cf03d;
  padding: 10px;
  padding-right: 10px;
  margin-left: 40px;
}

.skill-category:hover {
  transform: translateY(5px);
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.6);
}

.category-title {
  font-size: 1.1rem;
  margin-bottom: 20px;
  color: #7cf03d;
}

/* Skill Bars */
.skill-item {
  margin-bottom: 20px;
  
}


.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  height: 8px;
  border-radius: 8px;
  background-color: green;
  width: 100%;
}

.skill-progress-html {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;

}
.skill-progress-css {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;
}
.skill-progress-java {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-react {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;

}
.skill-progress-python {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-sql {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-mysql {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-git {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-vscode {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-chrome {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-design {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;
}


/* Tech Icons */
.tech-icons {
  margin-top: 10px;
  text-align: center;
}

.section-title {
  font-size: 1.3rem;
  color: #7cf03d;
  margin-bottom: 30px;
}

.icons-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-icon {
  background-color: transparent;
  border-radius: 50%;
  padding: 25px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 10px white;

}

.tech-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #7cf03d;
  .icon-text{
    color: #7cf03d;
  }
}

.icon-circle {
  text-align: center;
}

.icon-text {
  color:white;
  font-size: 0.7rem;
  font-weight: bold;
}


.animation-divs{
  animation: scrolling ease-in-out ;
  animation-timeline: view(0% 0%);
animation-range: entry 10% 40%;
   transition: transform 0.3s ease;
}

.animation-divs:hover{
  transform: scale(1.08);
}

@keyframes scrolling{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
    
  }
  to{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
}

@media only screen and (min-width: 1025px) {
  /* Styles for laptops and desktops */
  .floating-elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.float-item {
    position: absolute;
    border-radius: 50%;
    animation: floatComplex 25s ease-in-out infinite;
}

.float-1 {
    width: 120px;
    height: 120px;
    top: 15%;
    left: 8%;
    animation-delay: 0s;
    box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
}

.float-2 {
    width: 80px;
    height: 80px;
    top: 65%;
    right: 12%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 8s;
}

.float-3 {
    width: 100px;
    height: 100px;
    top: 85%;
    left: 25%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 16s;
}

.float-4 {
    width: 150px;
    height: 150px;
    top: 35%;
    right: 15%;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
       animation-delay: 4s;
       box-shadow: 0  0 10px #7cf03d;
}

@keyframes floatComplex {
    0%, 100% { 
        transform: translateY(0px) translateX(0px) rotate(0deg) scale(1);
        opacity: 0.6;
    }
    25% { 
        transform: translateY(-30px) translateX(20px) rotate(90deg) scale(1.1);
        opacity: 0.8;
    }
    50% { 
        transform: translateY(-15px) translateX(-25px) rotate(180deg) scale(0.9);
        opacity: 0.4;
    }
    75% { 
        transform: translateY(-40px) translateX(30px) rotate(270deg) scale(1.2);
        opacity: 0.7;
    }
}

/* Global Styles */
.container {
  margin: auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  margin-top: 0px;
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 50px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  color: #7cf03d;
  text-shadow: 0 0 10px #7cf03d;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
}

.skill-category {
  background: transparent;
  padding: 20px 30px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid #7cf03d;
}

.skill-category:hover {
  transform: translateY(5px);
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.6);
}

.category-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #7cf03d;
}

/* Skill Bars */
.skill-item {
  margin-bottom: 20px;
  
}


.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  height: 8px;
  border-radius: 8px;
  background-color: green;
  width: 100%;
}

.skill-progress-html {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;
}
.skill-progress-css {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;
}
.skill-progress-java {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-react {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;

}
.skill-progress-python {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-sql {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-mysql {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-git {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-vscode {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-chrome {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-design {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;
}


/* Tech Icons */
.tech-icons {
  margin-top: 60px;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #7cf03d;
  margin-bottom: 30px;
}

.icons-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-icon {
  background-color: transparent;
  border-radius: 50%;
  padding: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 10px white;

}

.tech-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #7cf03d;
  .icon-text{
    color: #7cf03d;
  }
}

.icon-circle {
  text-align: center;
}

.icon-text {
  color:white;
  font-size: 1rem;
  font-weight: bold;
}


.animation-divs{
  animation: scrolling ease-in-out ;
  animation-timeline: view(0% 0%);
animation-range: entry 10% 40%;
   transition: transform 0.3s ease;
}

.animation-divs:hover{
  transform: scale(1.08);
}

@keyframes scrolling{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
    
  }
  to{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .floating-elements {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.float-item {
    position: absolute;
    border-radius: 50%;
    animation: floatComplex 25s ease-in-out infinite;
}

.float-1 {
    width: 120px;
    height: 120px;
    top: 15%;
    left: 8%;
    animation-delay: 0s;
    box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
}

.float-2 {
    width: 80px;
    height: 80px;
    top: 65%;
    right: 12%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 8s;
}

.float-3 {
    width: 100px;
    height: 100px;
    top: 85%;
    left: 25%;
 box-shadow: 0  0 10px #7cf03d;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
        animation-delay: 16s;
}

.float-4 {
    width: 150px;
    height: 150px;
    top: 35%;
    right: 15%;
    background-color: rgba(0, 128, 0, 0.397);
    border: 0px;
       animation-delay: 4s;
       box-shadow: 0  0 10px #7cf03d;
}

@keyframes floatComplex {
    0%, 100% { 
        transform: translateY(0px) translateX(0px) rotate(0deg) scale(1);
        opacity: 0.6;
    }
    25% { 
        transform: translateY(-30px) translateX(20px) rotate(90deg) scale(1.1);
        opacity: 0.8;
    }
    50% { 
        transform: translateY(-15px) translateX(-25px) rotate(180deg) scale(0.9);
        opacity: 0.4;
    }
    75% { 
        transform: translateY(-40px) translateX(30px) rotate(270deg) scale(1.2);
        opacity: 0.7;
    }
}

/* Global Styles */
.container {
  margin: auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
  margin-top: 0px;
 
}

/* Header */
.header {
  text-align: center;
  margin-bottom: 50px;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
  color: #7cf03d;
  text-shadow: 0 0 10px #7cf03d;
}

.subtitle {
  font-size: 1.2rem;
  color: #ccc;
  margin-top: 10px;
}

/* Skills Grid */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 30px;
   
}

.skill-category {
  background: transparent;
  padding: 20px 30px;
  border-radius: 12px;
  transition: transform 0.3s ease;
  border: 1px solid #7cf03d;
   width: 80%;
}

.skill-category:hover {
  transform: translateY(5px);
  box-shadow: 0 0 20px rgba(124, 240, 61, 0.6);
}

.category-title {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #7cf03d;
}

/* Skill Bars */
.skill-item {
  margin-bottom: 20px;
  
}


.skill-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.skill-bar {
  height: 8px;
  border-radius: 8px;
  background-color: green;
  width: 100%;
}

.skill-progress-html {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;
}
.skill-progress-css {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;
}
.skill-progress-java {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-react {
  height: 100%;
  border-radius: 8px;
  width: 90%;
  background-color: #7cf03d;

}
.skill-progress-python {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-sql {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-mysql {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-git {
  height: 100%;
  border-radius: 8px;
  width: 85%;
  background-color: #7cf03d;
}
.skill-progress-vscode {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-chrome {
  height: 100%;
  border-radius: 8px;
  width: 80%;
  background-color: #7cf03d;
}
.skill-progress-design {
  height: 100%;
  border-radius: 8px;
  width: 95%;
  background-color: #7cf03d;
}


/* Tech Icons */
.tech-icons {
  margin-top: 60px;
  text-align: center;
}

.section-title {
  font-size: 1.5rem;
  color: #7cf03d;
  margin-bottom: 30px;
}

.icons-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.tech-icon {
  background-color: transparent;
  border-radius: 50%;
  padding: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  box-shadow: 0 0 10px white;

}

.tech-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #7cf03d;
  .icon-text{
    color: #7cf03d;
  }
}

.icon-circle {
  text-align: center;
}

.icon-text {
  color:white;
  font-size: 1rem;
  font-weight: bold;
}


.animation-divs{
  animation: scrolling ease-in-out ;
  animation-timeline: view(0% 0%);
animation-range: entry 10% 40%;
   transition: transform 0.3s ease;
}

.animation-divs:hover{
  transform: scale(1.08);
}

@keyframes scrolling{
  from{
    opacity: 0;
    transform: translateY(20px) scale(0.8);
    
  }
  to{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
}